/* Wrapping unordered list element */
.userTags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.25rem 0 0;
  transition: padding 0.2s linear;
  gap: 8px;
}
.userTags:has(.tag:hover, .tag button:focus) {
  padding: 0;
  transition: padding 0.2s linear 0.5s;
}

/* Tags themselves */
.tag {
  border-radius: 1rem;
  padding: 0.25rem 10px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 2px var(--shade);
  position: relative;
  color: var(--shade-text);
  font-weight: bold;
}

/* Tag color schemes */
.color-0 {
  background-color: #c8e8ff;
}
.color-1 {
  background-color: #b2419a;
}
.color-2 {
  background-color: #b7edd5;
}
.color-3 {
  background-color: #edb7b7;
}
.color-4 {
  background-color: #4654b2;
}

/* Light text for dark backgrounds */
.color-1,
.color-4 {
  color: var(--tint-text);
}

/* Tag deletion button */
.tag button {
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  max-width: 0px;
  transition: all 0.2s linear;
  position: relative;
  left: 5px;
  border-radius: 50%;
}

.tag:hover button,
.tag:focus-within button {
  max-width: 1.25rem;
  transition: all 0.2s linear 0.5s;
}
.tag button:focus {
  outline: solid 1px currentColor;
}
.tag .btnIcon {
  box-sizing: border-box;
  font-size: 1.13rem;
  display: block;
  padding: 0 3px;
  width: 1.25rem;
  height: 1.25rem;
}
.tag button:focus .btnIcon {
  background: var(--shade);
}

/* Tag deleting state */
.tag button.deleting .lds-ring {
  display: inline-block;
}
.tag button.deleting .btnIcon {
  visibility: hidden;
}
.tag button.deleting,
.tag button.deleting:focus {
  border: 0;
  outline: 0;
}

/* Deleting animation */
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 1.06rem;
  height: 1.06rem;
  margin: 2px;
  border: 2px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  .userTags,
  .userTags:has(.tag:hover, .tag button:focus),
  .tag button,
  .tag:hover button,
  .tag:focus-within button {
    transition: none;
  }
  .lds-ring div {
    border-width: 1px;
    animation: lds-ring 4s linear infinite;
  }
}
