:root {
  --shade: #33333333;
  --shade-text: #00000077;
  --tint-text: #ffffffbb;
  --dark-purple: rgb(24, 25, 60);
  --medium-purple: rgb(97, 56, 216);
  --light-purple: rgb(238, 233, 255);
  --pale-gray: rgb(241, 241, 247);
  --medium-gray: rgb(209, 210, 229);
  --med-dark-gray: rgb(156, 157, 170);
  --dark-gray: rgb(111, 107, 119);
  --darker-gray: rgb(38, 40, 97);
}

.App {
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
}
.userTags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 21px 0 0;
  transition: padding 0.2s linear;
}
.userTags:has(.tag:hover, .tag button:focus) {
  padding: 0;
  transition: padding 0.2s linear 0.5s;
}
.tag {
  border-radius: 18px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 2px var(--shade);
  position: relative;
  margin-bottom: 8px;
  color: var(--shade-text);
  font-weight: bold;
}
.color-0 {
  background-color: #c8e8ff;
}
.color-1 {
  background-color: #b2419a;
}
.color-2 {
  background-color: #b7edd5;
}
.color-3 {
  background-color: #edb7b7;
}
.color-4 {
  background-color: #4654b2;
}
.color-1,
.color-4 {
  color: var(--tint-text);
}
.tag button {
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  max-width: 0px;
  transition: all 0.2s linear;
  position: relative;
  left: 5px;
  border-radius: 50%;
}
.tag button.deleting .lds-ring {
  display: inline-block;
}
.tag button.deleting::after {
  visibility: hidden;
}
.tag:hover button,
.tag:focus-within button {
  max-width: 21px;
  transition: all 0.2s linear 0.5s;
}
.tag button:focus {
  outline: solid 1px currentColor;
}
.tag button.deleting,
.tag button.deleting:focus {
  border: 0;
  outline: 0;
}
.tag button::after {
  color: inherit;
  content: '✕';
  box-sizing: border-box;
  font-size: 18px;
  display: block;
  padding-left: 3px;
  padding-right: 3px;
  width: 21px;
  height: 21px;
}

.tag button:focus::after {
  background: var(--shade);
}

.tag + .tag {
  margin-left: 8px;
}

.addWrapper {
  position: relative;
  margin-left: 8px;
  width: 130px;
}
.addBtn,
.queryListAddItem {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
  align-items: center;
  display: flex;
  padding: 0;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  color: var(--dark-purple);
}
.addBtn {
  opacity: 0;
}
.addBtn span {
  max-width: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.userTags:hover .addBtn,
.addBtn:focus {
  opacity: 1;
}
.addBtn:focus {
  outline: none;
  background: var(--pale-gray);
  border-radius: 15px;
  padding-right: 6px;
}
.addBtn::before {
  content: '✕';
  color: var(--med-dark-gray);
  font-weight: bold;
  transform: rotate(45deg);
  box-sizing: border-box;
  font-size: 17px;
  display: block;
  width: 28px;
  height: 28px;
  padding: 3px;
  border-radius: 50%;
  background: var(--pale-gray);
  margin-right: 7px;
  border: solid 1px transparent;
}
.addBtn:hover::before {
  border-color: var(--medium-gray);
  color: var(--dark-gray);
}
.addBtn:hover span,
.addBtn:focus span {
  max-width: 100px;
}
.addWrapper.searchActive .addBtn {
  display: none;
}
.query {
  display: none;
}
.addWrapper.searchActive .query {
  display: block;
}
.queryInput {
  box-sizing: border-box;
  padding: 5px 10px;
  height: 29px;
  width: 130px;
  border-radius: 1em;
  border: solid 2px var(--dark-gray);
  margin-bottom: 4px;
}
.queryInput:focus {
  outline: none;
}
.queryList {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 3px;
  background: white;
  border: solid 1px var(--medium-purple);
  border-radius: 15px;
  position: absolute;
}
.queryListItem {
  padding: 3px 8px;
  border-radius: 15px;
  color: var(--med-dark-gray);
}
.queryListAddItem {
  border-radius: 15px;
  padding: 3px 5px 3px 3px;
  margin: 0 3px;
  color: var(--dark-purple);
}
.queryListItem.active,
.queryListAddItem.active {
  background: var(--light-purple);
  color: var(--medium-purple);
}
.queryListAddItem::before {
  content: '✕';
  color: var(--dark-gray);
  font-weight: bold;
  transform: rotate(45deg);
  box-sizing: border-box;
  font-size: 11px;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  background: var(--pale-gray);
  margin-right: 5px;
  border: solid 1px transparent;
  align-items: center;
  justify-content: center;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  margin: 2px;
  border: 2px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
